:root{
    --wh-emoji: 2rem;
    --btn-emoji-selec:2.5rem;
    --whidth-page:800px;

    --bg-page-color:#F4F6F8;
    --title-color:#0e1011;
    --sub-title-color:#455054;
    --input-disable:#acd5ce;
    --input-active:#309685;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}
html {
    overflow-y: overlay;
}
/*Layaut page*/
.page-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    row-gap: 2rem;
    background-color: var(--bg-page-color);
}
.header-container{
    min-width: var(--whidth-page);
}
.main-container{
    min-width: var(--whidth-page);
    display: flex;
    flex-flow: column wrap;
    row-gap: 2rem;
}
.add-to-do-container{
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns:1fr var(--wh-emoji);
}
.to-do-label{
    grid-area: 1 / 1 / 2 / 3;
}
.to-do{
    background-color: inherit;
    height: var(--btn-emoji-selec);
    grid-area: 2 / 1 / 3 / 2; ;
    border: none;
    border-bottom: solid 1px var(--input-disable);
    resize: none;
    outline: none;
}

.to-do:focus{
    border-bottom-color:var(--input-active) ;
}

/*Title*/
.title{
    font-size: 4rem;
    margin-bottom: -.5rem;
    color: var(--title-color);
}
.sub-title{
    color: var(--sub-title-color);
}
/* emoji-selector */
.select-emoji-container{
    grid-area: 2 / 2 / 3 / 3;
}
.container-emojis{
    position: relative;
}
.list-emojis{
    position: absolute;
    top:calc(var(--btn-emoji-selec) + .5rem);
    display: none;
    grid-template-columns: repeat(5,var(--btn-emoji-selec));
    column-gap: .25rem;
    padding: .25rem;
    width: min-content;
}
.emojis{
    font-size: 1.35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--wh-emoji);
    user-select: none;
}
.emojis:hover{
    background-color: var(--input-disable);
}
.select-emoji{
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    width: var(--btn-emoji-selec);
    height: var(--btn-emoji-selec);
    padding: 3px;
    user-select: none;
}
.select-emoji:hover{
    background-color: var(--input-disable);
}

/*to-do list text*/
.to-do-item{
    list-style: none;
}
.to-do-text{
    padding-left:.5rem ;
}